# Maven build files
/target/
*.log

# IntelliJ or Eclipse files (if using an IDE)
*.idea/
*.classpath
*.project
*.settings/

# OS-specific files
.DS_Store
Thumbs.db
/.vscode
ngrok-v3-stable-linux-amd64.tgz
apache-maven-3.9.6-bin.tar.gz
